<h2><%= format_time @forecast.daylight_remaining %> of daylight remaining.</h2>
<p>Sunset for <%= @forecast.location.name %> is at <%= format_time @forecast.sunset %>.</p>

<%= @forecast.current_time %>