<!DOCTYPE html>
<html>
  <head>
    <title>ModuloDaylight</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1>Modulo Daylight</h1>
    </header>
    
    <%= yield %>

    <footer>
      Created by Andrew Olson
    </footer>
  </body>
</html>
